.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 30px 30px 50px 30px;
  box-sizing: border-box;
  border-top: 1px solid #eeeeee;
  .horizontal-sub-wrapper {
    width: 100%;
    padding: 0 40px;
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .cancel-collect-button {
    border-radius: 6px;
    text-align: center;
    background-color: rgba(255, 149, 0);
    color: #fff;
    width: 400px;
    padding: 20px 0;
  }
  .prev,
  .next,
  .delete-button,
  .restitute {
    border-radius: 6px;
    text-align: center;
  }
  .prev,
  .next {
    color: rgb(145, 145, 145);
    padding: 20px 0;
    width: 100%;
    background-color: #f3f3f3;
  }
  .delete-button,
  .restitute {
    color: #fff;
    padding: 20px 0;
    width: 100%;
  }
  .delete-button {
    background-color: rgb(247, 54, 54);
  }
  .restitute {
    background-color: #169e3b;
  }
}
