.first-section {
  max-height: 270px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  .title {
    font-size: 40px;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    .tags {
      display: flex;
      column-gap: 20px;
      align-items: center;
      img {
        width: 36px;
        height: 36px;
      }
      .second {
        color: #919191;
        font-size: 26px;
      }
    }
    .collect {
      display: flex;
      column-gap: 10px;
      align-items: center;
      .export {
        padding: 2px 20px;
        color: #919191;
        border: 2px solid #919191;
        border-radius: 6px;
        font-size: 24px;
      }
      .collected-text,
      .uncollected-text {
        padding: 2px 20px;
        border-radius: 6px;
        font-size: 24px;
      }
      .uncollected-text {
        color: rgb(255, 149, 0);
        border: 2px solid hsl(41, 91%, 65%);
      }
      .collected-text {
        color: #fff;
        background-color: rgba(255, 149, 0, 0.763);
      }
    }
  }
}
