.tabbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  .tab-item,
  .tab-item-actived {
    padding: 10px 20px;
    font-size: 32px;
  }
  .tab-item-actived {
    color: #169e3b;
    border-bottom: 2px solid #169e3b;
  }
}
