.home {
  width: 100%;
  background-color: #fbf9f9;
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: scroll;
    .next-page {
      text-align: center;
      color: #acacac;
    }
    .next-page::before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #acacac;
    }
    .next-page::after {
      content: "";
      width: 100px;
      height: 2px;
      color: #ec0e0e;
      background-color: #ec0e0e;
    }
  }
  .export-file-icon,
  .empty-icon {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}
