.wrapper-short,
.wrapper-default {
  display: flex;
  align-items: center;
  column-gap: 10px;
  .checkbox {
    width: 20px;
    height: 20px;
  }
  .card-short,
  .card-default {
    max-height: 1000px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(229, 229, 229, 0.5),
      0 0 15px rgba(229, 229, 229, 0.5), 0 0 20px rgba(229, 229, 229, 0.5),
      0 0 25px rgba(229, 229, 229, 0.5);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
    overflow: hidden;
    .section-one,
    .section-one-for-recent {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      .title {
        font-size: 36px;
      }
      .last-click-time {
        font-size: 30px;
      }
    }
    .section-one::after,
    .section-one-for-recent::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: rgb(235, 235, 235);
    }
    .section-one::after {
      margin-top: 20px;
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .src {
        color: rgb(120, 119, 119);
      }
      img {
        width: 36px;
        height: 36px;
      }
      .release-time {
        color: rgb(120, 119, 119);
        width: 240px;
        display: flex;
        align-items: center;
        column-gap: 10px;
      }
    }
  }
  .card-short {
    width: 610px;
  }
  .card-default {
    width: 672px;
  }
}

.wrapper-short {
  padding-right: 20px;
}
