.card {
  width: 672px;
  max-height: 1000px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(229, 229, 229, 0.5),
    0 0 15px rgba(229, 229, 229, 0.5), 0 0 20px rgba(229, 229, 229, 0.5),
    0 0 25px rgba(229, 229, 229, 0.5);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: relative;
  // .delete-img {
  //   width: 50px;
  //   height: 50px;
  //   position: absolute;
  //   top: -14px;
  //   right: -14px;
  // }
  .project-name {
    font-size: 36px;
  }
  .project-name::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(235, 235, 235);
    margin-top: 20px;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    .release-time {
      color: rgb(120, 119, 119);
      width: 240px;
      display: flex;
      align-items: center;
      column-gap: 10px;
      img {
        width: 36px;
        height: 36px;
      }
    }
    .delete-button {
      padding: 4px 20px;
      border: 1px solid rgb(252, 196, 196);
      color: rgb(242, 127, 127);
      border-radius: 8px;
      font-size: 26px;
    }
  }
}
