.user-edit-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 40px;
  width: 500px;
  z-index: 2;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  .close-modal-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
  }
  .title {
    font-size: 42px;
    color: #000000;
  }
  .form-item-container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    .avator-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 1px solid #9a9a9a;
      }
    }
    .form-item {
      display: flex;
      align-items: center;
      padding-bottom: 10px;
      border-bottom: 1px solid #dbdbdb;
      .picker-wrapper {
        width: 390px;
      }
      .label,
      .input,
      .selected-value {
        font-size: 38px;
      }
      .input {
        width: 200px;
      }
      .picker {
        display: flex;
        align-items: center;
      }
    }
  }
  .btn-group {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-top: 50px;
    .cancel,
    .submit {
      border: none;
      width: 180px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 26px;
      border-radius: 12px;
    }
    .cancel {
      border: 1px solid #ffffff;
      color: #000000;
    }
    .submit {
      background-color: #169e3b;
      color: #fff;
    }
  }
}
