.sidebar {
  position: fixed;
  top: 0;
  left: -400px;
  width: 400px;
  height: 100vh;
  background-color: #f5f5f5;
  transition: left 0.3s ease-in-out;
  z-index: 2;
  img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    margin-top: 50px;
    .default-list-item,
    .actived-list-item {
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 30px;
    }
    .actived-list-item {
      color: #169e3b;
    }
    .list-item:hover {
      color: #169e3b;
    }
    & :not(:last-child) {
      border-bottom: 1px solid #e7e7e7;
    }
  }
}

.sidebar.show {
  left: 0; /* 显示侧边栏 */
}
