.project-detail-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  .list-item {
    .text {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      font-size: 30px;
      .label {
        font-size: 26px;
        letter-spacing: 2px;
        border-left: 6px solid #169e3b;
        font-weight: 600;
        padding-left: 20px;
        color: rgb(125, 125, 125);
      }
      .content {
        font-size: 30px;
      }
    }
  }
}
