.recycle-bin-top-section{
    width: 90%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    .clear-button{
        border: 1px solid rgb(255, 141, 141);
        color: red;
        border-radius: 10px;
        padding: 10px 40px;
    }
}