.recycle-bin-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0 0;
  width: 94%;
  .total-num {
    font-size: 34px;
    font-weight: 600;
    color: rgb(82, 82, 82);
  }
  .clear-button {
    background-color: rgb(239, 43, 43);
    color: #fff;
    border-radius: 12px;
    padding: 8px 40px;
    font-size: 26px;
    margin-left: auto;
  }
}
